body {
  background-color: #00828d;
  font-family: sans-serif;
}

.selections {
  display: flex;
  justify-content: center;
}

.selection {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 3rem;
  transition: 100ms;
}

.selection:hover {
  transform: scale(1.2);
}

.results {
  margin-top: 1rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.result-score {
  margin-left: 0.1rem;
  font-size: 1.1rem;
  color: #333;
}

.result-selection {
  opacity: 0.5;
  font-size: 2rem;
}

.result-selection.winner {
  opacity: 1;
  font-size: 3.5rem;
}

.game-winner-wrapper {
  text-align: center;
  max-width: 800px;
  margin: 2rem auto 0;
}

.game-winner-wrapper p {
  font-size: 2rem;
  font-weight: 700;
}

.button--reset {
  text-align: center;
  margin: 2rem auto 0;
  display: flex;
  justify-content: center;
}
